html,body{
    height: 100%;   
    margin: 0; 
    padding: 0;  
    overflow-x: hidden;  
    -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
    background-image: url('assets/backround.png');
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
:root {
  touch-action: pan-x pan-y;
  height: auto
}
div.moneyImg img{
    max-width:100%;
    max-height:100%;
}
div.money{
width: 100%;
height: 15%;
position: absolute;
display: table;
}
div.moneyImg{
    width: 25%;
    height: 25%;
    display: table-cell; 
}
div.point{
text-align:center; 
vertical-align: middle;
display: table-cell; 
color: black;
font-size: 300%;
}
div.quanity-click{
background-color: green;
border-radius: 15px;
width: 100%;
height: 5%;
position: absolute; 
bottom: 16%;
}
div.buttonBox{
background-color: red;
width: 100%;
height: 15%;
position: absolute; 
bottom: 0;
display: inline-flex;
}
div.boostButton{
  background-color: brown;
  width: 25%;
  height: 100%;
}
button{
    width: 100%;
    height: 100%;
    background: none;
    outline:none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto;
    border-radius: 20px;
}
div.statsButton{
    background-color: green;
    width: 25%;
    height: 100%;
}
div.earnButton{
    background-color: purple;
    width: 25%;
    height: 100%;
}
div.inviteButton{
    background-color: gold;
    width: 25%;
    height: 100%;
}
div.moneyCircleDiv{
    position: absolute;
    border: none;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 18em;
    height: 18em;
}
.btn {
  margin: 0;
  border: none;
  padding: 35px;
  transition: all 0.25s ease;
}

.btn:focus, .btn:active {
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #ccc;
}
.btn.active {
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #ccc;
}
div.moneyCircleDiv img{
    max-width:100%;
    max-height:100%;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант  */
  background-color: rgba(0,0,0,0.4); /*Черный с непрозрачностью */
  -webkit-animation-name: fadeIn; /* Исчезают в фоновом режиме */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Модальное содержание */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  height: 80%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* Кнопка закрытия */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: black;
  color: white;
}

.modal-body {
  width: 100%;
  height: 100%;
  padding: 2px 5px;
  display: block;
  position: absolute;
}
div.clickBoost {
width: 100%;
height: 5em;
background-color: gray;
}
div.imgclickBoost{
  width: 5em;
  height: 5em;                                      
}
img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
div.energyBoost{
  width: 100%;
  height: 5em;
  background-color: gray;
  margin-top: 1em;
}
div.imgEnergyBoost{
  width: 5em;
  height: 5em;
}
div.autoClick{
  width: 100%;
  height: 5em;
  background-color: gray;
  margin-top: 1em;
}
div.imgAutoClick{
  width: 100%;
  height: 5em;
  background-color: gray;
}
div.autoClick button{
  width: 6em;
  height: 2em;
  margin-left: 65%;
  margin-top: -3.5em;
}
div.energyBoost button{
  width: 6em;
  height: 2em;
  margin-left: 65%;
  margin-top: -3.5em;
}
div.clickBoost button{
  width: 6em;
  height: 2em;
  margin-left: 65%;
  margin-top: -3.5em;
}
.textClickBoost{
  width: 6em;
  height: 2em;
  margin-left: 30%;
  margin-top: -3.5em;
}
.energyLimit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  margin: 0;
}
.textEnergyBoost{
  width: 6em;
  height: 2em;
  margin-left: 30%;
  margin-top: -3.5em;
}
.textAutoClick{
  width: 6em;
  height: 2em;
  margin-left: 30%;
  margin-top: -3.5em;
}
@keyframes move {
  from {
    margin-top: 30%;
    width: 15%; 
  }

  to {
    margin-left: 50%;
    width: 20%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-top: 30%;
    width: 15%; 
  }

  to {
    margin-left: 50%;
    width: 20%;
  }
}
/* Добавить анимацию */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}